Source: 6005-cw1-by3e11
Section: web
Priority: optional
Maintainer: Bo Yu <by3e11@ecs.soton.ac.uk>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: https://github.com/bobofish/6005-cw1-by3e11

Package: 6005-cw1-by3e11
Architecture: all
Depends: ${misc:Depends},php5 (>=5)
Description: <RSS Reader>
 This is the coursework of INFO6005 which is written by php using as RSS Reader.
Author information:Bo Yu
                   by3e11@ecs.soton.ac.uk
                   MSc Web Technology
                   University of Southampton
